.header {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: space-around;
}

.header img {
  height: 78%;
  margin-right: 100px;
}

.header figure {
  align-items: center;
  display: flex;
  height: 78%;
}