.hero-card__container {
  align-items: center;
  display: flex;
  height: 450px;
  justify-content: center;
  margin-bottom: -70px;
  width: 90%;
}

.hero-card__container img {
  cursor: pointer;
  height: 280px;
}